.edit-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
   

}


.info {
    padding: 40px;
    margin-top: 5rem;
    border-radius: 10px;
    border: 1px solid grey;
    width: 50rem;
    height: 30rem;
    position: relative;
  }
  